<!DOCTYPE html>
<html lang="en">
<head>
    <title>Upload Images to Server</title>
    <meta charset="utf-8">
    
</head>
<body>
<div type="hidden" id="status" class="invisible"><%= errormessage %></div>
<h3>Your previous upload was successful!</h3>
<h3>Please Upload your Photo</h3>
<form action="/uploadPhoto" method="post" enctype="multipart/form-data">
        <input type="file" accept="image/*" name="Photo" >
        <input type="submit" value="upload">
</form>


</body>
<script>
      if($('div#status').text()!='')
      {
                alert($('div#status').text());
      }
</script>
</html>